@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .nav {
    flex-direction: column;
  }
}

@font-face {
  font-family: 'ChonkyPixels';
  src: url('/fonts/chonkypixels/ChonkyPixels.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT New Pixel';
  src: url('/fonts/that-that-new-pixel-font-1752033450-0/thatthatnewpixelfamilytest-square.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT New Pixel Round';
  src: url('/fonts/that-that-new-pixel-font-1752033450-0/thatthatnewpixelfamilytest-round.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neocosmic';
  src: url('/fonts/Necosmic_Demo/Necosmic-PersonalUse.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

.socials {
  color: var(--eggshell);
}

.socials:hover{
  color: var(--slate-gray);
}

.socials img {
  color: var(--eggshell);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.socials:hover img {
  color: var(--slate-gray);
  transform: scale(1.1); /* Slight zoom */
  filter: brightness(1.2); /* Slight lightening */
}
