/* Coolors Exported Palette - https://coolors.co/5d2a42-f1e9da-718f94-ef767a-141301 */


/* SCSS HEX */
$violet-jtc: #5d2a42ff;
$eggshell: #f1e9daff;
$slate-gray: #718f94ff;
$light-coral: #ef767aff;
$smoky-black: #141301ff;

/* SCSS HSL */
$violet-jtc: hsla(332, 38%, 26%, 1);
$eggshell: hsla(39, 45%, 90%, 1);
$slate-gray: hsla(189, 14%, 51%, 1);
$light-coral: hsla(358, 79%, 70%, 1);
$smoky-black: hsla(57, 90%, 4%, 1);

/* SCSS RGB */
$violet-jtc: rgba(93, 42, 66, 1);
$eggshell: rgba(241, 233, 218, 1);
$slate-gray: rgba(113, 143, 148, 1);
$light-coral: rgba(239, 118, 122, 1);
$smoky-black: rgba(20, 19, 1, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-right: linear-gradient(90deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-bottom: linear-gradient(180deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-left: linear-gradient(270deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-top-right: linear-gradient(45deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-bottom-right: linear-gradient(135deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-top-left: linear-gradient(225deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-bottom-left: linear-gradient(315deg, #5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
$gradient-radial: radial-gradient(#5d2a42ff, #f1e9daff, #718f94ff, #ef767aff, #141301ff);
